[submodule "firmware/rc52-companion"]
	path = firmware/rc52-companion
	url = https://github.com/n30nex/NeonPocketMC-RC52.git
[submodule "firmware/rc52-repeater"]
	path = firmware/rc52-repeater
	url = https://github.com/n30nex/NeonPocketMC-RC52-Repeater.git
[submodule "firmware/rcc6-companion"]
	path = firmware/rcc6-companion
	url = https://github.com/n30nex/NeonPocketMC-RCC6.git
[submodule "firmware/rcc6-mqtt-repeater"]
	path = firmware/rcc6-mqtt-repeater
	url = https://github.com/n30nex/NeonPocketMC-RCC6-Repeater.git
[submodule "firmware/heltec-v3-companion"]
	path = firmware/heltec-v3-companion
	url = https://github.com/n30nex/NeonPocketMC-Heltec-V3.git
[submodule "firmware/heltec-v4-companion"]
	path = firmware/heltec-v4-companion
	url = https://github.com/n30nex/NeonPocketMC-Heltec-V4.git
[submodule "firmware/deskos-meshcore"]
	path = firmware/deskos-meshcore
	url = https://github.com/n30nex/DeskOS-MeshCore.git
[submodule "firmware/rc52-headless-companion"]
	path = firmware/rc52-headless-companion
	url = https://github.com/n30nex/NeonPocketMC-RC52-Headless.git
[submodule "firmware/rcc6-headless-companion"]
	path = firmware/rcc6-headless-companion
	url = https://github.com/n30nex/NeonPocketMC-RCC6-Headless.git
[submodule "firmware/ulp-solar-repeaters"]
	path = firmware/ulp-solar-repeaters
	url = https://github.com/n30nex/NeonPocketMC-ULP-Solar-Repeaters.git
